<div class="wrapper">
  <div class="logo">
    <img src="https://taplink.st/a/0/b/9/6/5673d7.jpg?1" alt="logo" class="logo-photo" routerLink="/home">
  </div>

  <div class="search">
    <form action="" class="search-form">
      <input type="search" placeholder="Введите название товара" class="search-search">
      <input type="image" src="https://static.vecteezy.com/system/resources/thumbnails/002/272/237/small/search-icon-simple-free-illustration-free-vector.jpg" alt="Submit Form" class="search-logo" />
    </form>
  </div>

  <div class="menu">
    <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="user-icon"  class="menu-item" routerLink="/account" [routerLinkActive]="'menu-item-activated'">
    <img src="https://cdn-icons-png.flaticon.com/512/73/73814.png" alt="user-icon"  class="menu-item" routerLink="/favorites" [routerLinkActive]="'menu-item-activated'">
    <img src="https://static.vecteezy.com/system/resources/previews/004/999/463/original/shopping-cart-icon-illustration-free-vector.jpg" alt="user-icon"  class="menu-item" routerLink="/purchases" [routerLinkActive]="'menu-item-activated'">
  </div>
</div>

  <div class="product-types">
    <div *ngFor="let product_type of categories" class="product-types-item">
      <div [routerLink]="['/products', product_type.ID]" [routerLinkActive]="'product-type-activated'">{{product_type.Name}}</div>
    </div>
  </div>
