.logo-photo{
  width: 120px;
  position: absolute;
  top: 3px;
}

.menu-item{
  margin: 0 14px;
  width: 28px;
  height: 27px;
}
.menu{
  margin-right: 3%;
}

.wrapper{
  display: flex;
  align-items: center;
  margin: 2% 2%;

}

.search{
  flex: 1 1 auto;
}
.search-logo{
  width: 25px;
}

.search-form{
  display: flex;
}

.logo{
  margin-left: 7%;
  margin-right: 25%;
}


.search-search{
  width: 500px;
  text-align: center;
  margin-right: 3%;
  background-color: whitesmoke;
  border-radius: 12px;
}

.product-types{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  font-size: 17px;
  font-family: sans-serif;
}

.product-type-activated{
  color: #8c6a44;
}












