<div class="registration">
  <h1 class="registration-title"> регистрация </h1>
  <form class="registration-data" (ngSubmit)="register()">
    <input type="text" placeholder="Имя" class="registration-input" name="name" [(ngModel)]="user.name" autocomplete="off">
    <input type="text" placeholder="Фамилия" class="registration-input" name="surname" [(ngModel)]="user.surname" autocomplete="off">
    <input type="text" placeholder="Имя пользователя" class="registration-input" name="username" [(ngModel)]="user.username" autocomplete="off">
    <input type="password" placeholder="Пароль" class="authorization-password registration-input" [(ngModel)]="pass1" autocomplete="off">
    <input type="password" placeholder="Повторите пароль" class="authorization-password registration-input" [(ngModel)]="pass2" autocomplete="off">
    <input type="submit" value="зарегистрироваться" class="registration-enter registration-button">
  </form>
  <p class="authorization-register">У вас уже есть аккаунт? <a [routerLink]="['/login']">Войти</a></p>

</div>
