
<div class="banner">
  <h1>Kazak team</h1>
  <p>Kazak Team - магазин стильной одежды, посвященный казахской культуре. У нас вы найдете оригинальные и качественные товары от  производителей современной уличной одежды. Наша команда поможет вам создать неповторимый образ, который отражает дух Настоящего Казаха. Добро пожаловать в Kazak Team!</p>
</div>

<div class="timer">
  <div class="caption"><h2 class="capt">Популярные товары</h2></div>
  <div class="grid">
    <div class="item">
      <a href="">
        <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg">
        <div class="caption1">костюм</div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg">
        <div class="caption1">костюм</div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg">
        <div class="caption1">костюм</div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg">
        <div class="caption1">костюм</div>
      </a>
    </div>
  </div>
</div>


<div class="plan">
  <h2 class="capt">Популярные категории</h2>
  <div class="plans">
    <div class="plans_item">
      <h2 class="plan_type">Рашгарды</h2>

      <p class="last">класные</p>
      <a href="" class="linkerclone2">Перейти</a>
    </div>
    <div class="plans_item">
      <h2 class="plan_type">Футболки</h2>

      <p class="last">крутые</p>
      <a href="" class="linkerclone2">Перейти</a>
    </div>
    <div class="plans_item">
      <h2 class="plan_type">Кросовки</h2>

      <p class="last">удобные</p>
      <a href="" class="linkerclone2">Перейти</a>
    </div>
  </div>
</div>


<div class="feature_main">
  <div class="caption">
    <h2 class="capt">Новинка</h2>
  </div>
  <div class="feature">
    <div class="feature_item">
      <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg" alt="">
      <a class="feature_item_link1" href="">Костюм</a>
      <a class="feature_item_link2" href="">Классный удобный костюм</a>
      <h3></h3>
      <div class="feature_line"></div>
      <div class="shop_link feature_link_dop">
        <a href="">
          Купить
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </div>
    </div>
    <div class="feature_item">
      <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg" alt="">
      <a class="feature_item_link1" href="">Костюм</a>
      <a class="feature_item_link2" href="">Классный удобный костюм</a>
      <h3></h3>
      <div class="feature_line"></div>
      <div class="shop_link feature_link_dop">
        <a href="">
          Купить
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </div>
    </div>
    <div class="feature_item">
      <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg" alt="">
      <a class="feature_item_link1" href="">Костюм</a>
      <a class="feature_item_link2" href="">Классный удобный костюм</a>
      <h3></h3>
      <div class="feature_line"></div>
      <div class="shop_link feature_link_dop">
        <a href="">
          Купить
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </div>
    </div>
    <div class="feature_item">
      <img src="https://intertop.kz/upload/resize_cache/iblock/67f/521_710_1/b670maqtm9r269x1gxjv1uzgq3d9b9yr.jpg" alt="">
      <a class="feature_item_link1" href="">Костюм</a>
      <a class="feature_item_link2" href="">Классный удобный костюм</a>
      <h3></h3>
      <div class="feature_line"></div>
      <div class="shop_link feature_link_dop">
        <a href="">
          Купить
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
